* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-mainTheme: #ba5a3a;
}

body {
  font-family: "DM Sans", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.common-nav-hero {
  background-image: url(/images/hero.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem;
  background-color: white;
  padding-left: 6rem;
  padding-right: 6rem;
}
ul {
  display: flex;
  list-style: none;
  gap: 2.3rem;
}
li a {
  text-decoration: none;
  color: #4f5761;
}
.menu-container {
  display: none;
}
.nav-btn {
  background-color: #8d448b;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nav-btn:hover {
  background-color: #10132d;
}
.hero-box-container {
  padding: 3rem 6rem 3rem 6rem;
}
.hero-box {
  width: 33rem;
  height: 34rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding: 1rem 3rem 1rem 3rem;
}
h1 {
  font-size: 2.7rem;
  color: #343d48;
  font-weight: 600;
  line-height: 4rem;
}
.hero-box span {
  color: #343d48;
  font-size: 1.1rem;
  line-height: 2.7rem;
}

/* style for options */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #8d448b;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 1rem 4rem 1rem 4rem;
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: #10132d;
}
.custom-select .select-image {
  position: absolute;
  top: 50%;
  right: 25rem;
  transform: translateY(-50%);
  font-size: 16px;
}
.custom-select .select-icon {
  position: absolute;
  top: 62%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.custom-select p {
  position: absolute;
  font-size: 0.9rem;
  top: 10%;
  right: 16.5rem;
  color: #b9c1ca;
}
.btn-hero {
  width: 100%;
  background-color: #8d448b;
  padding: 1.3rem 1.2rem 1.3rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}
.btn-hero:hover {
  background-color: #10132d;
}
.partners {
  width: 100%;
  height: 32rem;
  padding: 6rem 9rem 6rem 9rem;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.partnerh3 {
  color: #8d448b;
  text-align: center;
}
.partnerpara {
  text-align: center;
  font-size: 2rem;
  width: 50%;
  line-height: 3.3rem;
}
.partner-img-container {
  padding-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.uber-container {
  padding-top: 0.6rem;
}
.arrow-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: none;
}
.environment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  /* background-color: yellow; */
  width: 100%;
  /* height: 40rem; */
  height: auto;
}
.content-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}
.envi-title-container p {
  padding-top: 2rem;
  font-size: 3rem;
  width: 65%;
  line-height: 4rem;
}
.envi-para-container p {
  font-size: 1.1rem;
  width: 69%;
  line-height: 2rem;
}
.envi-feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
  gap: 2rem;
}
.sqfeet-container,
.member-container,
.wifi-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mediaQ {
  flex: 1;
  width: calc(50% - 10px);
  margin: 5px;
  box-sizing: border-box;
}
.img-side {
  padding-bottom: 2rem;
}
/* for working-space-section */
.mt-top {
  margin-top: 5rem;
  padding-bottom: 2rem;
}
.working-space-section p {
  font-size: 2rem;
}
.working-space-section {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 6rem;
}
.working-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.masnary-img-div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.cmn-spc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.scaler-1,
.scaler-2,
.scaler-3,
.scaler-4,
.scaler-5,
.scaler-6 {
  border-radius: 0.3rem;
}

.overlay {
  position: relative;
  overflow: hidden;
}

/* Style the overlay background */
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    1.15deg,
    #020718 0.72%,
    rgba(255, 255, 255, 0) 41.15%
  );
  z-index: 1;
  border-radius: 0.3rem;
}
.overlay-text {
  position: absolute;
  bottom: 1.5rem;
  right: 14rem;
  z-index: 2;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}
.forabs .overlay-text {
  right: 16rem;
}
.forabs2 .overlay-text {
  right: 16.5rem;
}
.overlay:hover img {
  transform: scale(1.2);
  transition: transform 1.2s ease-in-out;
}
.explore-btn {
  width: 100%;
  background-color: #edf0f2;
  padding: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/icons/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: 55%;
  transition: background-position 0.3s ease;
}
.explore-btn:hover {
  background-color: #8d448b;
  color: white;
  background-image: url(/icons/right-arrow-hover.svg);
  background-repeat: no-repeat;
  background-position: 55.2%;
}
.pricing-section {
  width: 100%;
  height: 65rem;
  background-color: #020718;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 15rem 4rem 15rem;
}
.pricing-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.pricing-content h3 {
  color: white;
}
.pricing-content p {
  font-size: 2rem;
  color: white;
}
.small-box {
  width: 20rem;
  height: 4.5rem;
  border: 1px solid #353946;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 0.3rem;
}
.btn-plan {
  width: 10rem;
  background-color: white;
  border: none;
  text-decoration: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btn-plain {
  width: 10rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.pack-details-row {
  display: flex;

  flex-direction: row;
  gap: 2rem;
}
.starter-pack {
  width: 30rem;
  height: auto;
  border: 1px solid #353946;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
}
.starter-pack .starter {
  color: white;
  font-size: 1.5rem;
}
.family-pack {
  width: 30rem;
  height: auto;
  border: 1px solid #353946;
}
.points-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.first-point {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.first-point p {
  color: white;
}
.first-point .starter-p {
  width: 20rem;
  line-height: 1.5rem;
}
.line-div {
  width: 100%;
  height: auto;
  border-top: 1px solid #353946;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
}
.for-padding {
  padding: 2rem;
}
.left-price p {
  color: #4f5761;
}
.left-price span {
  color: white;
  font-size: 1.7rem;
}
.for-padding .family {
  color: #333;
}
.family-pack {
  position: relative;
  background-color: white;
  height: 40rem;
  border-radius: 0.5rem;
}
.clsdr {
  padding-bottom: 2rem;
}
.first-point .family-p {
  width: 20rem;
  line-height: 1.5rem;
  color: #353946;
}
.line-family {
  background-color: #f0f0f5;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: 0;
}
.recommended-div {
  position: absolute;
  top: -1rem;
  left: 2rem;
  width: 8rem;
  height: 2rem;
  background-color: #8d448b;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-price .someprice {
  cursor: pointer;
}
.happy-customer-section {
  display: flex;
  flex-direction: row;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 8rem;
  width: 100%;
  height: 45rem;
  /* background-color: yellow; */
}
.customer-content-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.customer-content-div .customer-title {
  font-size: 3rem;
  width: 30rem;
  line-height: 4rem;
}
.customer-content-div .customer-para {
  font-size: 1.2rem;
  width: 35rem;
  line-height: 2.5rem;
}
.arrow-container-customer {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 1.2s ease-in-out;
}
.arrow-container-customer .sm-arrow {
  cursor: pointer;
}
.arrow-container-customer a {
  color: #8d448b;
  text-decoration: none;
  font-weight: 700;
}
.arrow-container-customer:hover {
  gap: 0.5rem;
}
.blogpost-section {
  padding-left: 6rem;
  padding-right: 6rem;
  width: 100%;
  height: auto;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}
.blog-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.blog-content-div .blog-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #8d448b;
}
.blog-content-div .blog-content {
  font-size: 2rem;
  color: #333;
  padding-bottom: 4rem;
}
.comment-img-div {
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
}
.comment-box {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.first-comment-img,
.second-comment-img,
.third-comment-img {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.first-comment-img p,
.second-comment-img p,
.third-comment-img p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8rem;
}
.comment-box .cms-cl {
  font-size: 1rem;
  color: #b9c1ca;
}
@media screen and (max-width: 768px) {
  .center-menu-items {
    display: none;
  }
  .nav-btn-container {
    display: none;
  }
  .menu-container {
    display: flex;
  }
  nav {
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .common-nav-hero {
    background-size: 100% 55%;
  }
  .hero-box-container {
    padding: 3rem 2.5rem 3rem 2.5rem;
  }
  .hero-box {
    width: 25rem;
    height: 22.5rem;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
  .hero-box span {
    font-size: 2.8vw;
    line-height: 1rem;
  }
  .custom-select .select-image {
    right: 16.5rem;
  }
  .custom-select p {
    top: 10%;
    right: 8.5rem;
  }
  .partners {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .partnerpara {
    font-size: 1.2rem;
    width: 100%;
    line-height: 2rem;
  }
  .ugpmd-container {
    /* flex: 0 0 50%; */
    flex: 0 0 40%;
    max-width: 50%;
    text-align: center;
    padding: 10px;
  }

  .ugpmd-container img {
    max-width: 100%;
    height: auto;
  }
  .paypal,
  .micro,
  .dribb {
    display: none;
  }
  .uber-container {
    padding-top: 1.1rem;
  }
  .arrow-div {
    display: flex;
  }
  .environment {
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .envi-title-container p {
    padding-top: 0rem;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    line-height: 2.3rem;
  }
  .envi-para-container p {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
  .envi-feature-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
  }
  .sqfeet-container,
  .member-container,
  .wifi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
  }
  .sqfeet-container p,
  .member-container p,
  .wifi-container p {
    width: 12rem;
    text-align: center;
  }
  .mediaQ {
    width: 100%;
    margin: 5px;
  }
  .wifi-container {
    position: absolute;
    top: 12rem;
    width: 12rem;
    padding-top: 1.5rem;
  }
  .img-side {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .side-img-containers img {
    margin-top: 14rem;
    width: 27rem;
  }
  .masnary-img-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .working-space-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .overlay::before {
    width: 26.3rem;
  }
  .overlay-text {
    right: 14rem;
  }
  .forabs .overlay-text {
    right: 16rem;
  }
  .forabs2 .overlay-text {
    right: 17rem;
  }
  .working-text-content p {
    font-size: 1.4rem;
  }
  .explore-btn {
    background-position: 64%;
  }
  .explore-btn:hover {
    background-position: 66%;
  }
  .pricing-section {
    margin-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    height: auto;
  }
  .pricing-content p {
    font-size: 1.2rem;
  }
  .pack-details-row {
    flex-direction: column;
  }
  .starter-pack {
    width: 95%;
  }
  .family-pack {
    width: 95%;
  }
  .happy-customer-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    flex-direction: column;
  }
  .customer-content-div {
    order: 1;
  }
  .customer-img-div {
    order: 2;
  }
  .customer-content-div .customer-title {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    line-height: 2.5rem;
  }
  .customer-content-div .customer-para {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    line-height: 2.2rem;
  }
  .customer-content-div {
    gap: 2rem;
  }
  .arrow-container-customer {
    justify-content: center;
    padding-bottom: 2rem;
  }
  .blogpost-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .comment-img-div {
    flex-direction: column;
    gap: 1.8rem;
  }
  .first-comment-img,
  .second-comment-img,
  .third-comment-img {
    gap: 1rem;
  }
  .first-comment-img p,
  .second-comment-img p,
  .third-comment-img p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .comment-box .cms-cl {
    font-size: 0.8rem;
  }
  .blog-content-div .blog-content {
    font-size: 1.2rem;
  }
}
